/*<meta />*/
		.row.outer-row.sidenav-layout {
		max-width: 80vw;
		}

 h1, h2, h3, p, a, li {
            font-family: sans-serif;
        }
        

        body {
            margin: 0;
        }
        header {
            height: 10vh;
            background: white;
        }
        a  {
            cursor: pointer;
        }
        
        .bar {
            background-color: #047fb8;
            height: 2vh;
            margin-bottom: 0;}
			
        .menubar {
            display: flex;
            width: 30%;
            text-transform: uppercase;
        }
        
        
       
        .newButton {
            background-color: #d10066;
            color: white;
            float: right;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 12px;
            text-align: center;
            margin-top: 10px;
        }
       
        .faq {
            text-align: center;
            margin: auto;
            width: 60%;
            padding-bottom: 20px;
        }
        .faq table {
            margin: auto;
        }
        
        .faq h2 {color: #5f5f5f;}
        
        .faq table td {
            padding: 5px 30px;
        }
        
        
        
        
        
        ul[role="tablist"] {
            display: flex;
            justify-content: space-between;
            padding-inline-start: 0;
            width: 80%;
            margin: auto;
        }
        .tabButton {
            background-color: #047fb8;
            list-style: none;
            padding: 15px 50px;
            border-radius: 10px 10px 0 0;  
        }
        
        .tabButton a {
            color: white;
            font-size: 18px;
            font-family: sans-serif;
            text-decoration: none;
        }
        
        .ui-tabs-panel {
            background-color: white; 
            padding: 0px 15px;
   
            border: 5px solid #047fb8;     
            border-radius: 10px;
        }
        .ui-accordion-header {
            padding: 20px;
            color: #047fb8;
            border-bottom: 5px solid #047fb8;
            cursor: pointer;
            box-shadow: #ababab 6px 5px 10px 0px;
			margin-bottom: 0;
        }
        
        .ui-accordion-header h3:before {
            font-family: FontAwesome;
            content:"\f068";
            padding-right: 5px;
        }
        .ui-accordion-header h3.collapsed:before {
            content:"\f067";
        }
        .ui-accordion-content {
            background: white;
            height: auto!important;
        }
        
        .accordion p, a, li {
            color: gray;
            line-height: 1.5;
        }
		
		.accordion li {
			line-height: 2;
			}
			
        .topics {
            display: flex;
            flex-wrap: wrap;

            padding-bottom: 20px;
            padding-top: 20px;
            margin: auto;

        }
        
        .subtopic {
            min-width: 30%;
			max-width: 30%;
            padding-bottom: 20px;
			padding-right: 30px;
        }

 /*Resource Type*/      
        ul {list-style-type: none;}
        

        .text>a:before {
            content: '\f15c';

            font-family: 'FontAwesome';
            padding-right: 15px;
            color: #68B842;
        }
        
        .video>a:before {
            content: '\f03d';
            font-family: 'FontAwesome';
            padding-right: 15px;
            color: #68B842;
        }
        
        .elearning>a:before {
            content: '\f108';
            font-family: 'FontAwesome';
            padding-right: 15px;
            color: #68B842;
        }
        
        .doc:before {
            content: '\f15c';
            font-family: 'FontAwesome';
            padding-right: 15px;
            color: #68B842;
        }
        
		.guide {
            height: 50px;
            width: 300px;
            background: #68b842;
            border-radius: 0 0 10px 10px;
            box-shadow: #ababab 6px 5px 10px 0px;
        }
        .guideButton {
            float: left;
            margin-top: 10px;
            display: flex;
            padding-left: 10%;
        }
        
        .guideButton:before {
             content: '\f02d';
            font-family: 'FontAwesome';
            padding-right: 15px;
            color: white;
            font-size: 24px;
            line-height: 1;
        }
		
        .guideButton p {margin: 0; color: white;}
		
        .bookings {
            background-color: #68B842;
            border-radius: 10px 0 0 10px;
            float: right;
            right: 0;
            bottom: 60px;
            position: fixed;
            padding: 15px 30px;
            border: none;
            box-shadow: #ababab 6px 5px 10px 0px;
            font-size: 14px;
            color: white;
            text-transform: uppercase;
            width: 50px;
            height: 100px;
        }
        
<<<<<<< HEAD
        .start {
            height: 100vh;
        }
        .start h2 {
            text-align: center;
            padding-top: 5%;
            font-size: 48px;
            font-weight: 700;
            color: #999999;
        }
		ul.nocontent.menu.mc-component li:nth-child(n+6){
=======
#searchwrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Source Sans Pro";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
        
		ul.nocontent.menu.mc-component li:nth-child(n+5){
>>>>>>> a89dfb5b3a280dfd784a0b1a876dbaa0879aa825
		display:none;
		}
		.show{
		display:none;
		color:blue;
		cursor:pointer;
		}