/*<meta />*/

h1, h2, h3, p, a, li {
            font-family: sans-serif;
        }
        
        header {
            width: 100%;
            height: 10vh;
        }
		.off-canvas-wrapper-inner .outer-row{
		max-width:100%;
		}
        
        .bar {
            background-color: #047fb8;
            height: 2vh;
            margin-bottom: 0;}
        
        .main { 
            width: 80%;
            margin-left: 10%;
            margin-top: 5vh;
        }
        .faq {
            text-align: center;
        }
        .faq table {
            margin: auto;
        }
        
        .faq table td {
            padding: 5px 30px;
        }
        ul[role="tablist"] {
            display: flex;
            justify-content: space-between;
        }
        .tabButton {
            background-color: #047fb8;
            list-style: none;
            padding: 15px;
            border-radius: 10px;  
        }
        
        .tabButton a {
            color: white;
            font-size: 18px;
            font-family: sans-serif;
            text-decoration: none;
        }
        
        .ui-tabs-panel {
            background-color: #cacaca; 
            padding: 50px 15px;
            margin-top: -50px;
        }
        .ui-accordion-header {
            background-color: #047fb8;
            padding: 20px;
            color: white;
            margin: 0;
            border-bottom: 5px solid white;
        }
        .ui-accordion-content {
            background: white;
            padding-bottom: 80px;
        }
        
        #accordion p, a, li {
            color: gray;
        }
        #accordion li {line-height: 2;}
        
        .topics {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 20px;
            margin: 0;
            width: 80%;
        }
	.ui-tabs .ui-tabs-nav li a { 
    outline:none !important;
}
*:focus{
outline:none !important;}

 /*Resource Type*/      
        ul {list-style-type: none;}
        
        .text:before {
            content: '\f15c';
            font-family: 'FontAwesome';
            padding-right: 15px;
            color: #68B842;
        }
        
        .video:before {
            content: '\f03d';
            font-family: 'FontAwesome';
            padding-right: 15px;
            color: #68B842;
        }
        
        .elearning:before {
            content: '\f108';
            font-family: 'FontAwesome';
            padding-right: 15px;
            color: #68B842;
        }
        
        .bookings {
            background-color: #68B842;
            border-radius: 20px;
            float: right;
            padding: 15px 30px;
            border: none;
            box-shadow: 4px 6px 10px 0px;
            font-size: 14px;
            color: white;
            text-transform: uppercase;
            width: 200px;
        }